html {
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: inherit;
}

body {
  font-family: 'Lato', sans-serif;
  line-height: 1.5;
  background-color: darkslategray;
  background-image: url(https://github.com/palel/cantor/blob/main/images/background4.png?raw=true);
  background-position: center;
}