.buttons {
    padding: 5px;
    display: block;
    text-align: center;
}

.buttons__button {
    padding: 5px 10px;
    margin: 3px;
    background-color: darkslategray;
    color: white;
    border-radius: 5px;
}

.buttons__button:hover {
    background-color: hsl(180, 25%, 30%);
}

.buttons__button:active {
    background-color: hsl(180, 25%, 35%);
}